.App {
  padding: 20px;
  font-size: 16px;
}

.Section {
  margin: 40px 0;
}

.BackgroundStripes {
  position: fixed;
  display: flex;
  top: -100vh;
  left: 200px;
  height: 300vh;
  width: 200vw;
  transform: rotate(45deg);
  z-index: -10;
}

.BackgroundStripes .stripe-left {
  height: 100%;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.1);
}

.BackgroundStripes .stripe-right {
  height: 100%;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.1);
}

.ProjectSummary {
  width: 100%;
  margin-bottom: 40px;
}

.Column {
  margin-right: 20px;
  max-width: 480px;
}

.ProjectSummary img {
  width: 100%;
  border: 10px solid white;
}

.ProjectSummary .project-title {
  font-size: 20px;
  margin-top: 10px;
}

.ProjectSummary .tag {
  font-size: 16px;
}

@media (min-width: 854px) {
  .columns-container {
    display: flex;
  }

  .App {
    padding: 40px 80px;
    font-size: 20px;
  }

  .Section {
    margin: 60px 0;
    max-width: 960px;
  }

  .BackgroundStripes {
    position: fixed;
    display: flex;
    top: -20vh;
    left: 200px;
    height: 300vh;
    width: 100vw;
    transform: rotate(45deg);
    z-index: -10;
  }

  .ProjectSummary {
    width: 300px;
  }

  .Column {
    margin-right: 60px;
  }
}
