.App {
  padding: 20px;
  font-size: 16px;
}

.Section {
  margin: 10px 0;
}

@keyframes clockwise {
  from {
    transform: rotate(-315deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes anticlockwise {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-315deg);
  }
}

.BackgroundStripes {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

.BackgroundStripes .stripe-left {
  height: 400vw;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  animation: clockwise linear 600s infinite;
}

.BackgroundStripes .stripe-right {
  height: 400vw;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  animation: anticlockwise linear 480s infinite;
}

.ProjectSummary {
  width: 100%;
}

.Column {
  margin-right: 10px;
  max-width: 480px;
}

.ProjectSummary img {
  width: 100%;
  border: 1px solid #999;
  border-radius: 4px;
}

.ProjectSummary .project-title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.ProjectSummary .tag {
  font-size: 16px;
}

.ProjectSection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 854px) {
  .App {
    padding: 40px 80px;
    font-size: 20px;
  }

  .Section {
    margin: 20px 0;
    max-width: 960px;
  }

  .BackgroundStripes {
  }

  .ProjectSummary {
    width: 220px;
  }

  .Column {
    margin-right: 20px;
  }
}

@keyframes fadeup-50 {
  0% { opacity: 0; transform: translateY(10px); }
  50% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeup-75 {
  0% { opacity: 0; transform: translateY(10px); }
  75% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadein-75 {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

.TitleSection {
  animation: fadeup-50 500ms ease-in;
}

.DescriptionSection {
  animation: fadeup-75 1000ms ease-in;
}

.ProjectSummary {
  animation: fadein-75 2000ms ease-in;
}


h4 {
  margin: 0;
  margin-top: 40px;
  text-decoration: underline;
  animation: fadein-75 2000ms ease-in;
}
